Repository eza-community/eza, pull requests merged in 2023-08, with the labels that each got.

#15 (exa PR) 1184: Added ".out" files to list of compiled ".tex" files
  src/info/sources.rs
Labels: ready

#30 (exa PR) 1141: git: Use GIT_DIR env var to find the repo
  src/fs/feature/git.rs
Labels: needs feedback, ready

#26 (exa PR) 1149: Created colors explanation file based on ogham's text
  Justfile
  man/eza.1.md
  man/eza_colors-explanation.5.md
  man/eza_colors.5.md
Labels: community › docs

#127 Add and Update icons
  src/output/icons.rs
Labels: features › icon, ready

#134 feat: add `just` and `pandoc` to devShell bc they are necessary for man
  flake.nix
Labels: enhancement, dependencies

#51 (exa PR) 975: Don't assume connection to a tty when number of columns is set
  src/main.rs
Labels: not ready

#135 Add `.envrc` so direnv automatically opens the nix dev environment
  .envrc
  .gitignore
Labels: enhancement

#137 feat: match folder icon to reflect contents
  src/fs/file.rs
  src/output/icons.rs
Labels: features › icon, ready

#145 ci: nix flake check
  .github/labeler.yml
  .github/workflows/flake.yml
  flake.nix
Labels: flake/nix :snowflake:

#147 tests: vhs for integration testing
  .gitignore
  Justfile
  flake.nix
  tests/itest/a
  tests/itest/b
  tests/itest/c
  tests/itest/d
  tests/itest/e
  tests/itest/f
  tests/itest/g
  tests/itest/h
  tests/itest/i
  tests/itest/j
  tests/itest/k
  tests/itest/l
  tests/itest/m
  tests/itest/n
  tests/itest/o
  tests/itest/p
  tests/itest/q
  tests/references/eza-blocksize.txt
  tests/references/eza-long.txt
  tests/references/main.txt
  tests/tapes/eza-blocksize.tape
  tests/tapes/eza-long.tape
  tests/tapes/main.tape
  tests/vhs-runner.sh
  tests/vhs-util.fish
Labels: not ready, flake/nix ❄️
