Repository eza-community/eza, pull requests merged in 2023-11, with the labels that each got.

#590 feat: add Typst to the recognized files
  src/output/icons.rs
Labels: features › icon

#573 fix(completions): changed quote in --almost-all completion
  completions/zsh/_eza
Labels: errors, typo

#605 build(flake): refactor flake
  .github/workflows/flake.yml
  .gitignore
  flake.lock
  flake.nix
Labels: flake/nix ❄️

#609 ci: refactor pre-commit-hooks
  flake.nix
  treefmt.nix
Labels: flake/nix ❄️

#612 feat: add ocaml icon filetypes
  src/output/icons.rs
Labels: features › icon

#623 feat: Add PRQL
  src/info/filetype.rs
  src/output/icons.rs
Labels: features › icon

#586 fix(git)!: remove Repo column when using --git-repos when no git repo
  src/main.rs
  src/output/details.rs
  src/output/grid_details.rs
  src/output/table.rs
  tests/cmd/long_git_repos_nix.stdout
  tests/cmd/long_git_repos_no_status_nix.stdout
Labels: features › git

#642 fix(build): fix cross compilation
  flake.nix
Labels: flake/nix ❄️

#625 feat: Add some file extensions
  src/info/filetype.rs
Labels: features › ui

#627 fix: Snap requires a base
  snap/.gitignore
  snap/snapcraft.yaml
Labels: packaging › snap

#673 chore(flake): update flake inputs
  flake.lock
Labels: flake/nix ❄️
