Repository eza-community/eza, pull requests merged in 2023-09, with the labels that each got.

#187 build(nix): add unstable package
  flake.nix
Labels: flake/nix ❄️

#173 feat: Use perfect hash tables for file types and icons
  Cargo.lock
  Cargo.toml
  src/fs/file.rs
  src/info/filetype.rs
  src/output/icons.rs
  src/theme/mod.rs
Labels: features › icon, features › ui

#192 Add vendored-libgit2 feature to git2 dependency
  Cargo.toml
Labels: dependencies, packaging › deb

#205 disable gif rendering in itests
  flake.nix
  tests/tapes/eza-blocksize.tape
  tests/tapes/eza-long.tape
  tests/tapes/main.tape
Labels: flake/nix ❄️

#206 deps: change ansi_term to ansiterm from rustadopt
  Cargo.lock
  Cargo.toml
  src/info/filetype.rs
  src/logger.rs
  src/main.rs
  src/output/cell.rs
  src/output/details.rs
  src/output/escape.rs
  src/output/file_name.rs
  src/output/grid_details.rs
  src/output/icons.rs
  src/output/lines.rs
  src/output/render/blocks.rs
  src/output/render/filetype.rs
  src/output/render/git.rs
  src/output/render/groups.rs
  src/output/render/inode.rs
  src/output/render/links.rs
  src/output/render/octal.rs
  src/output/render/permissions.rs
  src/output/render/securityctx.rs
  src/output/render/size.rs
  src/output/render/times.rs
  src/output/render/users.rs
  src/theme/default_theme.rs
  src/theme/lsc.rs
  src/theme/mod.rs
  src/theme/ui_styles.rs
Labels: ready

#224 feat(icons): Add backlog of icons from various exa pull requests and others
  src/info/filetype.rs
  src/info/sources.rs
  src/output/icons.rs
Labels: features › icon, features › ui

#216 docs: add star history
  README.md
Labels: ready, community › docs

#211 build(Justfile): add release binaries
  Justfile
  flake.nix
Labels: flake/nix ❄️

#233 Expose vendored libgit2
  Cargo.toml
  devtools/deb-package.sh
Labels: dependencies, features › git, packaging › deb

#237 feat: add bright colour options, change punctuation default
  src/theme/default_theme.rs
  src/theme/lsc.rs
Labels: needs feedback, features › ui

#247 chore(cargo): bump uzers to v0.11.3
  Cargo.lock
  Cargo.toml
  flake.lock
Labels: flake/nix ❄️

#256 Revise deb package script
  .gitignore
  devtools/deb-package.sh
Labels: packaging › deb

#270 cleanup testing
  Justfile
  flake.nix
  tests/references/eza-blocksize.txt
  tests/references/eza-long.txt
  tests/references/main.txt
  tests/tapes/eza-blocksize.tape
  tests/tapes/eza-long.tape
  tests/tapes/main.tape
  tests/vhs-runner.sh
  tests/vhs-util.fish
Labels: flake/nix ❄️

#271 Sandboxing Trycmd with Nix
  .github/workflows/unit-tests.yml
  Cargo.toml
  flake.lock
  flake.nix
  tests/cli_tests.rs
  tests/cmd/long_all_nix.stderr
  tests/cmd/long_all_nix.stdout
  tests/cmd/long_all_nix.toml
  tests/cmd/long_blocksize_nix.stderr
  tests/cmd/long_blocksize_nix.stdout
  tests/cmd/long_blocksize_nix.toml
  tests/cmd/long_extended_nix.stderr
  tests/cmd/long_extended_nix.stdout
  tests/cmd/long_extended_nix.toml
  tests/cmd/long_git_nix.stderr
  tests/cmd/long_git_nix.stdout
  tests/cmd/long_git_nix.toml
  tests/cmd/long_git_repos_nix.stderr
  tests/cmd/long_git_repos_nix.stdout
  tests/cmd/long_git_repos_nix.toml
  tests/cmd/long_git_repos_no_status_nix.stderr
  tests/cmd/long_git_repos_no_status_nix.stdout
  tests/cmd/long_git_repos_no_status_nix.toml
  tests/cmd/long_grid_nix.stderr
  tests/cmd/long_grid_nix.stdout
  tests/cmd/long_grid_nix.toml
  tests/cmd/long_header_nix.stderr
  tests/cmd/long_header_nix.stdout
  tests/cmd/long_header_nix.toml
  tests/cmd/long_icons_nix.stderr
  tests/cmd/long_icons_nix.stdout
  tests/cmd/long_icons_nix.toml
  tests/cmd/long_nix.stderr
  tests/cmd/long_nix.stdout
  tests/cmd/long_nix.toml
  tests/cmd/long_octal_nix.stderr
  tests/cmd/long_octal_nix.stdout
  tests/cmd/long_octal_nix.toml
  tests/cmd/long_time_style_relative_nix.stderr
  tests/cmd/long_time_style_relative_nix.stdout
  tests/cmd/long_time_style_relative_nix.toml
Labels: flake/nix ❄️

#278 trycmd via just
  Justfile
  flake.nix
Labels: flake/nix ❄️

#272 Assorted docs: --git-repos & --git-repos-no-status and add gpg armor for .deb pkg
  README.md
  man/eza.1.md
Labels: documentation, packaging › deb

#286 fix(readme): revert to old apt install command suggestion and add hint
  README.md
Labels: documentation, packaging › deb

#284 feat(ci): add apt installation workflow
  .github/workflows/apt.yml
  .github/workflows/unit-tests.yml
Labels: CI related, packaging › deb, testing

#305 build(flake): make trycmd part of checks
  flake.nix
Labels: flake/nix ❄️

#283 feat: document and change output for --git-repos
  man/eza.1.md
  src/output/render/git.rs
Labels: ready

#328 Add completions to deb package
  completions/fish/eza.fish
  devtools/deb-package.sh
Labels: features › completions, packaging › deb

#313 chore(cargo): MSRV 1.70
  .github/workflows/unit-tests.yml
  Cargo.toml
  README.md
  rust-toolchain.toml
Labels: rust

#245 feat(ui): Make file types themeable
  man/eza_colors-explanation.5.md
  man/eza_colors.5.md
  src/info/filetype.rs
  src/theme/default_theme.rs
  src/theme/mod.rs
  src/theme/ui_styles.rs
Labels: features › ui

#355 feat: Lazy loading of a files extended attributes and absolute path
  src/fs/file.rs
  src/output/details.rs
  src/output/file_name.rs
Labels: performance

#361 fix: nix flake check also builds the package
  flake.nix
Labels: flake/nix ❄️

#382 Treefmt for configs (.toml, .yaml)
  Cargo.toml
  deny.toml
  rust-toolchain.toml
  snap/snapcraft.yaml
  treefmt.nix
Labels: packaging › snap

#435 Dynamic Manpage Version
  Justfile
  flake.nix
  man/eza.1.md
  man/eza_colors-explanation.5.md
  man/eza_colors.5.md
Labels: documentation

#395 feat : Adding new icons
  src/info/filetype.rs
  src/output/icons.rs
Labels: features › icon, features › ui
