Repository eza-community/eza, pull requests merged in 2023-10, with the labels that each got.

#432 feat(binaries): added statically linked binaries
  Justfile
Labels: os › windows, os › macos, os › linux

#431 feat(colors): separated root from other users
  man/eza_colors.5.md
  src/output/render/groups.rs
  src/output/render/users.rs
  src/theme/default_theme.rs
  src/theme/mod.rs
  src/theme/ui_styles.rs
Labels: features › ui, rust

#454 fix(fish): replace left-over exa in fish completion
  completions/fish/eza.fish
Labels: typo, features › completions

#496 fix(colors): root group not painted as expected when eza used by root
  src/output/render/groups.rs
Labels: errors › invalid output, output

#499 refactor(devtools): use musl target for amd64 deb package
  devtools/deb-package.sh
Labels: packaging › deb

#501 Remove redundant static musl build
  Justfile
Labels: CI related

#502 feat(completions): add missing nu shell completions
  completions/nush/eza.nu
Labels: features › completions

#508 feat(git): adding the EZA_OVERRIDE_GIT env var
  man/eza.1.md
  src/options/vars.rs
  src/options/view.rs
Labels: feature request, features › git

#525 docs: correct color option spellings
  README.md
Labels: typo

#540 Add new filetype for source code files and icons
  man/eza_colors-explanation.5.md
  man/eza_colors.5.md
  src/info/filetype.rs
  src/output/icons.rs
  src/theme/default_theme.rs
  src/theme/mod.rs
  src/theme/ui_styles.rs
Labels: features › icon, features › ui
